In [3]:
import pandas as pd

from google.colab import files
uploaded = files.upload()

Saving student.xlsx to student (1).xlsx

In [4]:
df=pd.read_excel("student.xlsx") #read excel file, to read csv file: df=pd.read_csv("file name")

In [5]:
df

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78     NaN
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

### Exploring Dataset

In [6]:
# show the first 5 rows
df.head() #default number is 5

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [7]:
#first 3 rows
df.head(3)

#insert 10 for top 10 rows etc

   id      name  class  mark  gender
0   1  John Deo   Four    75  female
1   2  Max Ruin  Three    85    male
2   3    Arnold  Three    55    male

In [8]:
#last 5 rows
df.tail()

#default () is 5, for last 10 rows etc. insert 10 in the brackets.

    id         name  class  mark  gender
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [9]:
#To show how many rows in the column with a value, 'NaN' (null data) cells are not counted.
df.count()

id        35
name      34
class     34
mark      35
gender    33
dtype: int64

In [10]:
#To show dataset information: number of entries, non-null count, datatypes and memory usage.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

### Inspecting Dataset

In [14]:
# To see list of names of colums
df.columns

Index(['id', 'name', 'class', 'mark', 'gender'], dtype='object')

In [15]:
# To see statistical summary, only shows for numerical columns
df.describe()

#shows count, mean, Std. deviation, minium. 25% (1st quartile), 50% (median), 75% (third percentile) and maximum.
# mean is usually higher than Std. If Std is close or higher than mean, there are some outliers

              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

In [18]:
#number of rows
len(df)

35

In [17]:
#rows * columns
df.size

175

###How to Subset and Select Data (slicing method)

In [19]:
# To return only name column
df["name"]

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [20]:
# To return only gender
df["gender"]

0     female
1       male
2       male
3     female
4     female
5       male
6       male
7       male
8        NaN
9     female
10    female
11    female
12    female
13    female
14      male
15      male
16      male
17      male
18      male
19    female
20    female
21    female
22      male
23      male
24      male
25      male
26       NaN
27    female
28      male
29    female
30      male
31    female
32    female
33      male
34    female
Name: gender, dtype: object

In [21]:
# To show only marks you can use dot notation too
df.mark

#It is better to use brackets as it is possible that column titles have same name as a reserved keyword. e.g:
df.class #class is highlighted blue as it is a reserved keyword but it also a title in the dataset

0     75
1     85
2     55
3     60
4     60
5     55
6     78
7     85
8     78
9     55
10    89
11    94
12    88
13    88
14    88
15    88
16    54
17    75
18    18
19    65
20    69
21    55
22    79
23    78
24    88
25    79
26    81
27    86
28    55
29    79
30    88
31    90
32    96
33    69
34    88
Name: mark, dtype: int64

In [22]:
# To return names and classes
# first [] is used for slicing and the second [] is used for the list of column names
df[["name", "class"]]

           name  class
0      John Deo   Four
1      Max Ruin  Three
2        Arnold  Three
3    Krish Star   Four
4     John Mike   Four
5     Alex John   Four
6   My John Rob  Fifth
7        Asruid   Five
8       Tes Qry    Six
9      Big John   Four
10       Ronald    Six
11        Recky    Six
12          Kty  Seven
13         Bigy  Seven
14     Tade Row    NaN
15        Gimmy   Four
16        Tumyu    Six
17        Honny   Five
18        Tinny   Nine
19       Jackly   Nine
20   Babby John   Four
21       Reggid  Seven
22        Herod  Eight
23    Tiddy Now  Seven
24     Giff Tow  Seven
25       Crelea  Seven
26          NaN  Three
27    Rojj Base  Seven
28  Tess Played  Seven
29    Reppy Red    Six
30  Marry Toeey   Four
31    Binn Rott  Seven
32    Kenn Rein    Six
33     Gain Toe  Seven
34   Rows Noump    Six

In [23]:
# For a triple selection and you can also return top 5. 10 etc rows
df[["name","class","gender"]].head()

         name  class  gender
0    John Deo   Four  female
1    Max Ruin  Three    male
2      Arnold  Three    male
3  Krish Star   Four  female
4   John Mike   Four  female

In [24]:
#To randomly select rows and columns use sample()
df[["id","mark"]].sample(3)

    id  mark
33  34    69
22  23    79
2    3    55

In [25]:
#To select a column and the calculate the mean
df["mark"].mean()

np.float64(74.65714285714286)

In [26]:
#To calculate lower quartile
df["mark"].quantile(0.25)

np.float64(62.5)

In [27]:
# To make a selection of a single row using the index e.g. return name of the first student:
df["name"][0]

'John Deo'

### Locating DF Data

#### loc

In [ ]:
# df.loc[rows, column name(S)]
# df.iloc[rows, column idex(es)]

#df.loc uses column names and iloc uses column indexes

In [29]:
# To retrun all rows but only the name column
df.loc[0:34,"name"]

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [30]:
# To retrun 5 rows but only the name column
df.loc[0:4,"name"]

0      John Deo
1      Max Ruin
2        Arnold
3    Krish Star
4     John Mike
Name: name, dtype: object

In [31]:
# To return 5 rows and the name and class columns
df.loc[0:4,["name", "class"]]

         name  class
0    John Deo   Four
1    Max Ruin  Three
2      Arnold  Three
3  Krish Star   Four
4   John Mike   Four

In [32]:
# To return all rows and the first column, don't write start and end ranges just use ":"
df.loc[:,"name"]

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [33]:
# To return up to index 10
# If you don't mention starting point it will start from index 0
df.loc[:10,"name"]

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
Name: name, dtype: object

In [34]:
# To return all rows starting from index 10
# If you don't mention ending point it will end at the final index
df.loc[10:,"name"]

10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

#### iloc

In [ ]:
# id is index 0
# name is index 1
# class is index 2

In [36]:
# To return all the rows and the name column
df.iloc[:,1]

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [38]:
# To return multiple columns they must be in box brackets
df.iloc[:,[1,2]]

           name  class
0      John Deo   Four
1      Max Ruin  Three
2        Arnold  Three
3    Krish Star   Four
4     John Mike   Four
5     Alex John   Four
6   My John Rob  Fifth
7        Asruid   Five
8       Tes Qry    Six
9      Big John   Four
10       Ronald    Six
11        Recky    Six
12          Kty  Seven
13         Bigy  Seven
14     Tade Row    NaN
15        Gimmy   Four
16        Tumyu    Six
17        Honny   Five
18        Tinny   Nine
19       Jackly   Nine
20   Babby John   Four
21       Reggid  Seven
22        Herod  Eight
23    Tiddy Now  Seven
24     Giff Tow  Seven
25       Crelea  Seven
26          NaN  Three
27    Rojj Base  Seven
28  Tess Played  Seven
29    Reppy Red    Six
30  Marry Toeey   Four
31    Binn Rott  Seven
32    Kenn Rein    Six
33     Gain Toe  Seven
34   Rows Noump    Six

In [39]:
# To return first 5 rows
# In iloc stopping range is excluded in the output, therefore 0:5 would return until index 5 and doesn't include index 5.
df.iloc[0:5, [1,2]]

         name  class
0    John Deo   Four
1    Max Ruin  Three
2      Arnold  Three
3  Krish Star   Four
4   John Mike   Four

In [40]:
# To retrun 5 rows and 2 columns, you can use ranges
df.iloc[0:5, 0:2]

   id        name
0   1    John Deo
1   2    Max Ruin
2   3      Arnold
3   4  Krish Star
4   5   John Mike

### How to Filter Data

In [43]:
#This is called boolean filtering.
# It will return true and false

df["mark"]>90

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33    False
34    False
Name: mark, dtype: bool

In [ ]:
# To ouput students with matks over 90.
df[df["mark"]>90]

In [44]:
# To ouput children from class 6
df[df["class"]=="Six"]

    id        name class  mark  gender
8    9     Tes Qry   Six    78     NaN
10  11      Ronald   Six    89  female
11  12       Recky   Six    94  female
16  17       Tumyu   Six    54    male
29  30   Reppy Red   Six    79  female
32  33   Kenn Rein   Six    96  female
34  35  Rows Noump   Six    88  female

In [47]:
# Filter by multiple conditions
df[(df["class"]=="Six")& (df["gender"]=="male")]

    id   name class  mark gender
16  17  Tumyu   Six    54   male

In [ ]:
df[(df["gender"]=="female") & (df["mark"]>=85)]

In [48]:
#& "and" operator
# | is called a pipe and is used for "or" operator

df[(df["gender"]=="female") | (df["mark"]>=90)]

    id        name  class  mark  gender
0    1    John Deo   Four    75  female
3    4  Krish Star   Four    60  female
4    5   John Mike   Four    60  female
9   10    Big John   Four    55  female
10  11      Ronald    Six    89  female
11  12       Recky    Six    94  female
12  13         Kty  Seven    88  female
13  14        Bigy  Seven    88  female
19  20      Jackly   Nine    65  female
20  21  Babby John   Four    69  female
21  22      Reggid  Seven    55  female
27  28   Rojj Base  Seven    86  female
29  30   Reppy Red    Six    79  female
31  32   Binn Rott  Seven    90  female
32  33   Kenn Rein    Six    96  female
34  35  Rows Noump    Six    88  female

In [49]:
#df.loc[condition,column labels]
#iloc cannot be used to filter
df.loc[df["id"]<5, : ]

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female

#### Exercises

In [55]:
# 1. Average mark across all students

df["mark"].mean()

np.float64(74.65714285714286)

In [75]:
# 2. Average mark across male and average mark across female students

df.loc[df["gender"]=="male","mark"].mean()
df.loc[df["gender"]=="female","mark"].mean()

np.float64(77.3125)

In [72]:
# 3.Max and min mark

df["mark"].max()
df["mark"].min()

96

In [ ]:
Max mark for male and max mark for female students

Average mark for class 'Five'

Average mark for class 'Six' and male students only

### How To Sort Values

In [76]:
# To sort values by mark
# It organises by ascending by default
df.sort_values(by="mark")

    id         name  class  mark  gender
18  19        Tinny   Nine    18    male
16  17        Tumyu    Six    54    male
2    3       Arnold  Three    55    male
5    6    Alex John   Four    55    male
28  29  Tess Played  Seven    55    male
21  22       Reggid  Seven    55  female
9   10     Big John   Four    55  female
4    5    John Mike   Four    60  female
3    4   Krish Star   Four    60  female
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
33  34     Gain Toe  Seven    69    male
0    1     John Deo   Four    75  female
17  18        Honny   Five    75    male
8    9      Tes Qry    Six    78     NaN
23  24    Tiddy Now  Seven    78    male
6    7  My John Rob  Fifth    78    male
22  23        Herod  Eight    79    male
29  30    Reppy Red    Six    79  female
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
1    2     Max Ruin  Three    85    male
7    8       Asruid   Five    85    male
27  28    Rojj Base  Seven    86  female
12  13          Kty  Seven    88  female
24  25     Giff Tow  Seven    88    male
15  16        Gimmy   Four    88    male
14  15     Tade Row    NaN    88    male
30  31  Marry Toeey   Four    88    male
13  14         Bigy  Seven    88  female
34  35   Rows Noump    Six    88  female
10  11       Ronald    Six    89  female
31  32    Binn Rott  Seven    90  female
11  12        Recky    Six    94  female
32  33    Kenn Rein    Six    96  female

In [77]:
# To sort values by "name"
df.sort_values(by="name")

    id         name  class  mark  gender
5    6    Alex John   Four    55    male
2    3       Arnold  Three    55    male
7    8       Asruid   Five    85    male
20  21   Babby John   Four    69  female
9   10     Big John   Four    55  female
13  14         Bigy  Seven    88  female
31  32    Binn Rott  Seven    90  female
25  26       Crelea  Seven    79    male
33  34     Gain Toe  Seven    69    male
24  25     Giff Tow  Seven    88    male
15  16        Gimmy   Four    88    male
22  23        Herod  Eight    79    male
17  18        Honny   Five    75    male
19  20       Jackly   Nine    65  female
0    1     John Deo   Four    75  female
4    5    John Mike   Four    60  female
32  33    Kenn Rein    Six    96  female
3    4   Krish Star   Four    60  female
12  13          Kty  Seven    88  female
30  31  Marry Toeey   Four    88    male
1    2     Max Ruin  Three    85    male
6    7  My John Rob  Fifth    78    male
11  12        Recky    Six    94  female
21  22       Reggid  Seven    55  female
29  30    Reppy Red    Six    79  female
27  28    Rojj Base  Seven    86  female
10  11       Ronald    Six    89  female
34  35   Rows Noump    Six    88  female
14  15     Tade Row    NaN    88    male
8    9      Tes Qry    Six    78     NaN
28  29  Tess Played  Seven    55    male
23  24    Tiddy Now  Seven    78    male
18  19        Tinny   Nine    18    male
16  17        Tumyu    Six    54    male
26  27          NaN  Three    81     NaN

In [78]:
# To sort by descending values e.g. "name"
df.sort_values(by="name", ascending=False)

    id         name  class  mark  gender
16  17        Tumyu    Six    54    male
18  19        Tinny   Nine    18    male
23  24    Tiddy Now  Seven    78    male
28  29  Tess Played  Seven    55    male
8    9      Tes Qry    Six    78     NaN
14  15     Tade Row    NaN    88    male
34  35   Rows Noump    Six    88  female
10  11       Ronald    Six    89  female
27  28    Rojj Base  Seven    86  female
29  30    Reppy Red    Six    79  female
21  22       Reggid  Seven    55  female
11  12        Recky    Six    94  female
6    7  My John Rob  Fifth    78    male
1    2     Max Ruin  Three    85    male
30  31  Marry Toeey   Four    88    male
12  13          Kty  Seven    88  female
3    4   Krish Star   Four    60  female
32  33    Kenn Rein    Six    96  female
4    5    John Mike   Four    60  female
0    1     John Deo   Four    75  female
19  20       Jackly   Nine    65  female
17  18        Honny   Five    75    male
22  23        Herod  Eight    79    male
15  16        Gimmy   Four    88    male
24  25     Giff Tow  Seven    88    male
33  34     Gain Toe  Seven    69    male
25  26       Crelea  Seven    79    male
31  32    Binn Rott  Seven    90  female
13  14         Bigy  Seven    88  female
9   10     Big John   Four    55  female
20  21   Babby John   Four    69  female
7    8       Asruid   Five    85    male
2    3       Arnold  Three    55    male
5    6    Alex John   Four    55    male
26  27          NaN  Three    81     NaN

In [81]:
df[["name", "class", "mark"]].sort_values(by="class")

           name  class  mark
22        Herod  Eight    79
6   My John Rob  Fifth    78
17        Honny   Five    75
7        Asruid   Five    85
30  Marry Toeey   Four    88
20   Babby John   Four    69
15        Gimmy   Four    88
9      Big John   Four    55
0      John Deo   Four    75
5     Alex John   Four    55
3    Krish Star   Four    60
4     John Mike   Four    60
19       Jackly   Nine    65
18        Tinny   Nine    18
12          Kty  Seven    88
33     Gain Toe  Seven    69
25       Crelea  Seven    79
31    Binn Rott  Seven    90
21       Reggid  Seven    55
28  Tess Played  Seven    55
23    Tiddy Now  Seven    78
24     Giff Tow  Seven    88
13         Bigy  Seven    88
27    Rojj Base  Seven    86
29    Reppy Red    Six    79
32    Kenn Rein    Six    96
34   Rows Noump    Six    88
8       Tes Qry    Six    78
16        Tumyu    Six    54
11        Recky    Six    94
10       Ronald    Six    89
1      Max Ruin  Three    85
26          NaN  Three    81
2        Arnold  Three    55
14     Tade Row    NaN    88

In [83]:
df.loc[df["mark"]>50,:].sort_values(by="mark")

    id         name  class  mark  gender
16  17        Tumyu    Six    54    male
2    3       Arnold  Three    55    male
9   10     Big John   Four    55  female
5    6    Alex John   Four    55    male
21  22       Reggid  Seven    55  female
28  29  Tess Played  Seven    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
33  34     Gain Toe  Seven    69    male
17  18        Honny   Five    75    male
0    1     John Deo   Four    75  female
8    9      Tes Qry    Six    78     NaN
6    7  My John Rob  Fifth    78    male
23  24    Tiddy Now  Seven    78    male
29  30    Reppy Red    Six    79  female
25  26       Crelea  Seven    79    male
22  23        Herod  Eight    79    male
26  27          NaN  Three    81     NaN
1    2     Max Ruin  Three    85    male
7    8       Asruid   Five    85    male
27  28    Rojj Base  Seven    86  female
12  13          Kty  Seven    88  female
24  25     Giff Tow  Seven    88    male
30  31  Marry Toeey   Four    88    male
15  16        Gimmy   Four    88    male
14  15     Tade Row    NaN    88    male
34  35   Rows Noump    Six    88  female
13  14         Bigy  Seven    88  female
10  11       Ronald    Six    89  female
31  32    Binn Rott  Seven    90  female
11  12        Recky    Six    94  female
32  33    Kenn Rein    Six    96  female

### Value Counts

In [84]:
# How many male and female students are there?

df["gender"].value_counts()

gender
male      17
female    16
Name: count, dtype: int64

In [85]:
# How many in each class

df["class"].value_counts()

class
Seven    10
Four      8
Six       7
Three     3
Nine      2
Five      2
Fifth     1
Eight     1
Name: count, dtype: int64

In [91]:
df.loc[5]

id                6
name      Alex John
class          Four
mark             55
gender         male
Name: 5, dtype: object

In [93]:
df

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78     NaN
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [92]:
df.isnull()

       id   name  class   mark  gender
0   False  False  False  False   False
1   False  False  False  False   False
2   False  False  False  False   False
3   False  False  False  False   False
4   False  False  False  False   False
5   False  False  False  False   False
6   False  False  False  False   False
7   False  False  False  False   False
8   False  False  False  False    True
9   False  False  False  False   False
10  False  False  False  False   False
11  False  False  False  False   False
12  False  False  False  False   False
13  False  False  False  False   False
14  False  False   True  False   False
15  False  False  False  False   False
16  False  False  False  False   False
17  False  False  False  False   False
18  False  False  False  False   False
19  False  False  False  False   False
20  False  False  False  False   False
21  False  False  False  False   False
22  False  False  False  False   False
23  False  False  False  False   False
24  False  False  False  False   False
25  False  False  False  False   False
26  False   True  False  False    True
27  False  False  False  False   False
28  False  False  False  False   False
29  False  False  False  False   False
30  False  False  False  False   False
31  False  False  False  False   False
32  False  False  False  False   False
33  False  False  False  False   False
34  False  False  False  False   False